body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ccc;
}

th {
	background: #ddf;
}

td {
	text-align: right;
}

div.coverageBarNegative {
	border: 1px solid #ccc; 
	min-width: 100px; 
	padding: 0px; 
	background: #e00;
	font-size: 9pt;
}

div.coverageBarPositive {
	background: #0e0;
	height: 12px;
}
