body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 8px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	font-size: 10pt;
	border: 1px solid #ddd;
}

th {
	background: #bdb;
}

div.coverageBarNegative {
	border: none; 
	min-width: 100px; 
	padding: 0px; 
	background: #d00;
}

div.coverageBarPositive {
	background: #0d0;
	height: 10px;
}

div.coverageBarNotAvailable {
	border: none; 
	min-width: 100px; 
	padding: 0px; 
	background: #ddd;
	height: 10px;
}

/* Rounded-box */

div.rounded-box {
	background: #bdb;
}

div.round1, div.round2, div.round4 {
	font-size: 0;
	height: 1px;
	margin: 0;
	padding: 0;
}

div.round4 {
	border-left: 4px solid #FFFFFF;
	border-right: 4px solid #FFFFFF;
}

div.round2 {
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
}

div.round1 {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

div.box-inner {
	margin: 0;
	padding: 0 13px;
}

/* Source */
tr.completely-covered {
	background-color: #efe;
}

tr.partialy-covered {
	background-color: #ff9;
}

tr.not-covered {
	background-color: #fbb;
}

td.source-line-number {
	text-align: right;
}

td.source-line-touch {
	text-align: right;
}

td.source-line-text {
	white-space: pre;
}